<div class="row">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">New Video </h3>
    </div>
    <%= form_for @video do |f| %>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Video name</label>
          <input type="text" class="form-control" id="video-name" placeholder="Enter name"
            name="video[name]">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <input type="text" class="form-control" id="video-description" placeholder="Enter Description"
            name="video[description]">
        </div>
        <div class="form-group">
          <label for="input-video">File input</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="input-video" name="video[video]">
              <label class="custom-file-label" for="input-video">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    <% end %>
  </div>
</div>
